@model IEnumerable<Order>
<h1>Orders</h1>
@foreach(var item in Model)
{

	<a asp-controller="Order" asp-action="Details" asp-route-id="@item.Id"class="text-decoration-none text-reset">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div class ="col" >Order #: @item.Id</div>
			</div>
		</div>
	</a>

}