@model IEnumerable<Product>
<h1>Admin panel</h1>
<h2>panel links</h2>
<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Create">Create new Products</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Delete">Delete Products</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="">View Products</a>
<h2>Edit product</h2>
<form method="get" asp-controller="Product" asp-action="Update">
	<select class="form-control" name="id" id="id" style="width:50%">
		@foreach (var item in Model)
		{
			<option value="@item.ID">--@item.ID - @item.productName--</option>
		}
	</select>
	<button type="submit" class="btn btn-primary">edit</button>
</form>